@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@500;700&display=swap');

$family-sans-serif: 'Montserrat', sans-serif;
$family-secondary: 'Acme', serif;

$primary: #FFCC00;
$link: #1EFFBC;
$info: #1B4079;
$success: #219373;
$warning: #FF7435;
$danger: #FF7435;
$dark: #23272A;
$black: darken($dark, 6%);

$body-overflow-y: auto;

$control-border-width: 3.5px;